# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\EPAM\Classes_and_Objects\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
